/* Estilos Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}

.titulo{
    font-size: 4rem;
    padding: 5rem 0;
    text-align: center;
    color: white;
}

.header-principal{
    background-image: url(../img/main-city-copy-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

/* Cabecera */
.encabezado {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    /* position: fixed; */
}

.menu {
    display: inherit;
    font-size: 2.2rem;
    width: 700px;
    justify-content: space-between;
}

.menu__a{
    text-decoration: none;
    color: white;
}
.menu__a:visited{
    color: white;
}
.menu__a:hover{
    color: rgb(200, 130, 0);
}

/* Principal */
.hero{
    height: 600px;
    background-position-y: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__titulo{
    font-family: 'Playfair Display', serif;
    font-size: 8rem;
    color: white;
}

/* Servicios Profesionales */
.servicios{
    background-color: rgb(0, 21, 75);
}

.servicios__oferta{
    width: 320px;
    height: 200px;
    background-color: rgba(255, 255, 255, .6);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 1.6rem;
    box-shadow: 12px 12px 20px 0px rgba(0,0,0,0.75);
}

.servicios__house{
    width: 380px;
    border-radius: 20px;
    box-shadow: 12px 12px 20px 0px rgba(0,0,0,0.75);
}

.servicios__house__img{
    width: inherit;
    border-radius: inherit;
}

.item{
    font-size: 2.5rem;
    margin-bottom: 20px;
    list-style: none;
}

.item::first-letter{
    color: red;
}

/* Formación */
.academica{
    background-color: rgb(214, 214, 214);
}

.academica__titulo{
    color: black;
}