/* Estilos Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}

.titulo{
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    padding: 5rem 0;
    text-align: initial;
    width: 100%;
    color: white;
}

.header-principal{
    background-image: url(https://i.imgur.com/1yXiAba.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -20px;
    background-size: cover;
}

.boton-menu{
    display: none;
    background-color: #050b1b;
    color: white;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    top: 25px;
    right: 5px;
    z-index: 3;
}

/* Cabecera */
.encabezado {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.menu {
    display: inherit;
    font-size: 2rem;
    max-width: 800px;
    justify-content: space-between;
}

.menu__a{
    text-decoration: none;
    color: white;
    margin-right: 3rem;
}
.menu__a:visited{
    color: white;
}
.menu__a:hover{
    color: rgb(200, 130, 0);
}

/* Principal */
.hero{
    height: 600px;
    display: flex;
}

.hero__container{
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.nombre{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 5rem;
}

.hero__titulo{
    font-family: 'Playfair Display', serif;
    font-size: 8rem;
    color: white;
}

/* Servicios Profesionales */
.servicios{
    background-color: rgb(0, 21, 75);
}

.servicios__oferta{
    width: 320px;
    height: 200px;
    background-color: rgba(255, 255, 255, .6);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 1.6rem;
    box-shadow: 12px 12px 20px 0px rgba(0,0,0,0.75);
}

.servicios__corpoaval{
    width: 380px;
    border-radius: 20px;
    box-shadow: 12px 12px 20px 0px rgba(0,0,0,0.75);
}

.servicios__corpoaval__img{
    width: inherit;
    border-radius: inherit;
}

.item{
    font-size: 2.2rem;
    margin-bottom: 15px;
    list-style: none;
}

.item::first-letter{
    color: red;
}

/* Estudios */
.academica{
    /* background-color: rgb(233, 233, 233); */
    background-image: url(https://i.imgur.com/imehq5b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem 0;
}

.academica__container{
    padding: initial;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 30px;
    padding: 2rem;
}

.academica__titulo{
    color: rgb(5, 5, 150);
    font-size: 5rem;
    width: 50%;
    text-align: initial;
}

.academica__estudios{
    font-size: 1.8rem;
    width: 50%;
    list-style: none;
    font-weight: 600;
}

.academica__estudios__li{
    position: relative;
    padding:0 0 .5rem .5rem;
}

.academica__estudios__li::before{
    content: '✔';
    position: absolute;
    left: -12px;
}

/* Perfil Profesional */
.perfil{
    background-color: rgb(1, 2, 61);
    color: white;
}

.perfil__img{
    background-color: rgba(255, 255, 255, .5);
    border-radius: 15px;
    height: 500px;
}

.perfil__lista{
    width: 70%;
    padding-left: 40px;
}

.perfil__item{
    list-style: disc;
    font-size: 1.8rem;
}

.perfil__item::first-letter{
    color: inherit;
}

/* Contacto */
.contacto{
    background-color: #191919;
}

.link{
    display: inline-block;
    width: 220px;
    height: 50px;
    text-decoration: none;
    color: inherit;
    padding-left: 60px;
    line-height: 50px;
    margin-bottom: 15px;
    font-size: 1.6rem;
    color: white;
}

.whatsapp{
    background-image: url(https://i.imgur.com/Z0dWBlD.png);
    background-repeat: no-repeat;
}

.facebook{
    background-image: url(https://i.imgur.com/FoqLAr8.png);
    background-repeat: no-repeat;
}

@media screen and (max-width: 1023px){
    html{
        font-size: 8px;
    }
    .menu__a{
        margin-right: 1.5rem;
    }
    .hero{
        height: 400px;
    }
    .perfil__img{
        height: 400px;
    }
}

@media screen and (max-width: 767px){
    .boton-menu{
        display: flex;
    }
    .encabezado{
        height: auto;
        border-bottom: initial;
    }
    .logo{
        /* display: block; */
        width: 100%;
    }
    .menu{
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: underline;
        margin: 0 auto;
        background-color: rgba(5, 11, 27, .9);
        position: fixed;
        top: 0;
        right: -100vw;
        transition: .3s;
        font-size: 3rem;
    }
    .menu.is-active{
        right: 0;
    }
    .menu__a{
        display: inherit;
        margin: 4rem 0;
    }
    .nombre{
        font-size: 4rem;
        margin: 0 auto 3rem;
    }
    .hero__titulo{
        font-size: 7rem;
        text-align: center;
    }
    .servicios__oferta{
        width: 70vw;
        margin-bottom: 5rem;
    }
    .servicios__corpoaval{
        width: 70vw;
    }
    .academica__titulo{
        width: 100%;
        text-align: center;
    }
    .academica__estudios{
        width: 80vw;
    }
    .perfil__img{
        display: none;
    }
    .perfil__lista{
        width: 80vw;
        padding: 0;
    }
}

@media screen and (max-width: 374px){
    .hero__titulo{
        font-size: 5rem;
        width: 80vw;
    }
    .nombre{
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }
}