*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.titulo{
    font-size: 4rem;
    padding: 5rem 0;
    text-align: center;
}

.header-principal{
    background-image: url(../img/main-city-copy-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Cabecera */
.encabezado {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.menu {
    display: inherit;
    font-size: 2.2rem;
    width: 700px;
    justify-content: space-between;
}

.menu__a{
    text-decoration: none;
    color: white;
}
.menu__a:visited{
    color: white;
}
.menu__a:hover{
    color: rgb(200, 130, 0);
}

/* Principal */
.hero{
    height: 600px;
    background-position-y: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__titulo{
    font-family: 'Playfair Display', serif;
    font-size: 8rem;
    color: white;
}

/* Servicios Profesionales */
.servicios{
    background-color: #e1e1e1;
}

.servicios__house{
    width: 380px;
}

.servicios__house__img{
    width: inherit;
}

.item{
    font-size: 2.2rem;
    margin-bottom: 20px;
    list-style: none;
}

.item::first-letter{
    color: blue;
}